

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

/*   color variables */
$clr-primary: #101827;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #c7ccdb;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-success: #00c853;
$clr-error: #ff1744;
// Unidades
$separacion: 5rem;

/*   border radius */
$radius: 0.2rem;